  <header class="mdl-layout__header">

    <div class="header_options mdl-layout__header-row">
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <div class="navigation">
        <nav class="mdl-navigation">
          <a href="" class="mdl-navigation__link about">About</a>
          <a href="" class="mdl-navigation__link contacto">Contacto</a>
          <a href="" class="mdl-navigation__link quienes_somos">Quienes somos</a>
        </nav>
      </div>
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>
    </div>
  </header>