<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}




		<!--@include media-query($on-laptop){-->
		<!--height: 250px;-->
		<!--}-->
		<!--@include media-query($on-palm){-->
		<!--height: 200px;-->
		<!--}-->

		<div class="page-content">
			<div class="wrapper">

				{% if page.cover %}
				<div style="text-align: center">
					<img src="{{page.cover}}" class="logo">
				</div>
				{% else %}
				<div class="blog-cover"></div>
				{% endif %}

				{{ content }}
			</div>
		</div>

		{% include footer.html %}

	</body>

</html>
