<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

		{% if page.cover %}
		<div style="text-align: center">
			<img src="{{page.cover}}" style="height: 320px;">
		</div>
		<!--<div class="blog-cover" style="background-image:url({{page.cover}});"></div>-->
		{% else %}
		<div class="blog-cover"></div>
		{% endif %}


		<!--@include media-query($on-laptop){-->
		<!--height: 250px;-->
		<!--}-->
		<!--@include media-query($on-palm){-->
		<!--height: 200px;-->
		<!--}-->

		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}

	</body>

</html>
